html{
    background-color: rgb(255, 228, 251);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
h1{
    background-image: url('3picture1.jpg');
    width:900px;
    height: 280px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-left: 250px;
    padding-top: 50px;
    padding-right: 500px;
    font-size: 32px;
    color:white;
    font-weight: 300;
    text-transform:capitalize;
    box-sizing: border-box;
}
h2{
    font-size: 42px;
    margin:0px;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    padding-top: 100px;
    padding-left: 400px;
}
h3{
    font-size: 28px;
    color:black;
    font-weight: 400;
    padding-left: 400px;
    padding-right: 100px;
}
h4{
    font-size: 42px;
    color: black;
    font-weight: 500;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px;
    background-color: white;
    box-sizing: border-box;
}
.a-1{
    background-image: url('3picture2.jpg');
    width:900px;
    height: 558px;
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;   
}
.a-2{
    background-image: url('3picture3.jpg');
    width:900px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
}
.a-3{
    background-image: url('3picture4.jpg');
    width:900px;
    height:200px;
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: white;
    font-size: 32px;
    font-weight: 300;
    text-transform:uppercase;
    text-decoration: none;
}
.button-1{
    position:absolute;
    margin-top: 435px;
    margin-left: 275px;
}
.button-2{
    position:absolute;
    margin-top: 80px;
    margin-left: 290px;
}
.information{
    background-color: white;
    padding-left: 50px;
    padding-right: 150px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 24px;
    height: 100px;
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}  
.b-1{
    background-image: url('3picture5.jpg');
    width:900px;
    height:350px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: white;
    text-align: right;
    line-height: 60px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-indent: 630px;
    box-sizing: border-box;
    position: relative;
}
ul{
    background-color: white;
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 20px;   
}