html{
    background-color: rgb(255, 228, 251);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
header{
    width:900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#a-1{
    background-image: url('3picture1.jpg');
    width:250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size:contain;
}
#a-2{
    background-color: rgb(46, 112, 84);
    width:430px;
    height: 250px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 130px;
    color:white;
    text-transform:capitalize;
    line-height: 38px;
    font-size: 36px;
    font-weight: 200;
    box-sizing: border-box;
    position: relative;
    margin-top: -250px;
    margin-left: 245px;
}
#a-3{
    background-image: url('3picture2.jpg');
    height:250px;
    width:228px;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    margin-top: -250px;
    margin-left: 675px;
}
#b-1{
    background-image: url('3picture3.jpg');
    width:900px;
    height:560px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}
.button{
    background-color:orange;
    background-repeat: no-repeat;
    background-size: contain;
    color:white;
    text-decoration: none;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
    position: absolute;
    margin-left: 730px;
    margin-top: -1420px;
}
#b-2{
    background-image: url('3picture4.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    width:900px;
    height: 426px;
    background-repeat: no-repeat;
    position:relative;
    margin-top: -34px;
}
h3{
    padding-left: 400px;
    padding-right: 150px;
    padding-top: 100px;
    font-weight: 400;
    font-size: 36px;
    box-sizing: border-box;
}
h4{
    font-size: 24px;
    padding-left: 400px;
    padding-right: 150px;
    font-weight: 400;
    box-sizing: border-box;
}
.information{
    background-color: white;
    padding-left: 50px;
    padding-right: 150px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 24px;
    height: 100px;
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
ul{
    background-color: white;
    width: 900px;
    height: 400px;
    margin-left: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-top: -30px;
}
h2{
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 36px;
    font-weight: 400;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: -20px;
}
#c-1{
    background-image: url('3picture5.jpg');
    width:350px;
    height:250px;
    background-repeat: no-repeat;
    background-size:contain;
    position:relative;
    margin-top: -25px;
}
#c-2{
    background-color: rgb(136, 136, 136);
    font-size: 20px;
    color: white;
    text-align: right;
    line-height: 60px;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    text-indent: 300px;
    box-sizing: border-box;
    width:570px;
    height:250px;
    position: relative;
    margin-left: 330px;
    margin-top: -250px;
}
.button1{
    background-color:orange;
    background-repeat: no-repeat;
    background-size: contain;
    color:white;
    text-decoration: none;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
    position: absolute;
    margin-left: 730px;
    margin-top: -420px;